on:
  pull_request:
  push:
    branches:
      - main

jobs:
  github_check_job:
    runs-on: ubuntu-latest
    steps:
      - name: チェックアウト
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # 全てのコミットを取得

      - name: Get PR commits
        id: get-commits
        run: |
          echo "pr_commits<<EOF" >> $GITHUB_OUTPUT
          gh pr list --json commits --template '{{range .}}{{range (slice .commits 0 3)}} - [{{slice .oid 0 7}}](https://github.com/zorro901/github-actions-101/commit/{{.oid}}) {{.messageHeadline}}
          {{end}}{{end}}' >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: テスト結果の Slack 通知
        uses: ravsamhq/notify-slack-action@v2
        if: always()
        with:
          status: ${{ job.status }}
          notification_title: "`${{ job.status == 'success' && '✅' || '❌' }}` ${{ github.event.repository.name }} のテストが${{ job.status == 'success' && '成功しました' || '失敗しました' }}"
          message_format: |
            ブランチ: `${{ github.ref_name }}`
            コミット: `{commit_sha}`

            テスト結果
            > Unitテスト `${{ job.status == 'success' && 'PASS' || 'FAIL' }}`
            > E2Eテスト  `${{ job.status == 'success' && 'PASS' || 'FAIL' }}`
            
            PR情報:
              - PR JSON: ${{ steps.get-commits.outputs }}

          footer: "<${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}|コミット詳細を表示> | <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|ワークフロー実行を表示>"
          notify_when: "success,failure"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
